/* Font */
@font-face {
  font-family: Montserrat-Thin;
  src: url('../Fonts/Montserrat-Thin.ttf');
}

/* All Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #1d7773;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Selection */
::selection {
  background: rgba(29, 119, 115, 0.7);
}

/* Container Style */
.container {
  width: 400px;
  background: #e1d0f8;
  padding: 30px;
  border-radius: 10px;
}
.container :where(textarea, button) {
  outline: none;
  border: none;
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  font-size: 15px;
  margin: 5px 0;
}

/* textArea Style */
.container textarea {
  background: transparent;
  resize: none;
  font-family: Montserrat-Thin;
  font-weight: bold;
  border: 1px solid #999;
}

/* Button Style */
.container button {
  font-family: Montserrat-Thin;
  font-weight: bold;
  background: rgba(29, 119, 115, 0.8);
  transition: all 1s;
}